<a href="https://colab.research.google.com/github/RoRdil31/BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_%EC%8B%A42_1138%EB%B2%88_%ED%95%9C%EC%A4%84%EB%A1%9C%EC%84%9C%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

한 줄로 서기

시간 제한	메모리 제한	제출	정답	맞힌 사람	정답 비율
2 초	128 MB	14411	8700	7261	60.976%
문제
N명의 사람들은 매일 아침 한 줄로 선다. 이 사람들은 자리를 마음대로 서지 못하고 오민식의 지시대로 선다.

어느 날 사람들은 오민식이 사람들이 줄 서는 위치를 기록해 놓는다는 것을 알았다. 그리고 아침에 자기가 기록해 놓은 것과 사람들이 줄을 선 위치가 맞는지 확인한다.

사람들은 자기보다 큰 사람이 왼쪽에 몇 명 있었는지만을 기억한다. N명의 사람이 있고, 사람들의 키는 1부터 N까지 모두 다르다.

각 사람들이 기억하는 정보가 주어질 때, 줄을 어떻게 서야 하는지 출력하는 프로그램을 작성하시오.

입력
첫째 줄에 사람의 수 N이 주어진다. N은 10보다 작거나 같은 자연수이다. 둘째 줄에는 키가 1인 사람부터 차례대로 자기보다 키가 큰 사람이 왼쪽에 몇 명이 있었는지 주어진다. i번째 수는 0보다 크거나 같고, N-i보다 작거나 같다. i는 0부터 시작한다.

출력
첫째 줄에 줄을 선 순서대로 키를 출력한다.

예제 입력 1
4
2 1 1 0
예제 출력 1
4 2 1 3


반례

10

5 3 7 1 4 2 1 0 0 0

8 4 7 2 6 1 9 5 10 3

In [52]:
n = int(input())
l1 =  [int(x) for x in input().split(' ')]
# n = 7
# l1 = [6,1,1,1,2,0,0]

l1

1
1 2

[6, 1, 1, 1, 2, 0, 0]

In [53]:

result = [0]*n
tall = 1

for i in l1:
  cnt = 0

  # count_higher_numbers = sum(1 for num in result[:i+cnt] if num > )

  # if result[i]==0 :
  #   result[i] = tall
  # else:
  while(True):
    if result[i+cnt]==0 and result[:i+cnt].count(0)==i:
      result[i+cnt] = tall
      break
    cnt+=1

  tall+=1
  # print(f'{i} => {result}')


print(result)

6 => [0, 0, 0, 0, 0, 0, 1]
1 => [0, 2, 0, 0, 0, 0, 1]
1 => [0, 2, 3, 0, 0, 0, 1]
1 => [0, 2, 3, 4, 0, 0, 1]
2 => [0, 2, 3, 4, 0, 5, 1]
0 => [6, 2, 3, 4, 0, 5, 1]
0 => [6, 2, 3, 4, 7, 5, 1]
[6, 2, 3, 4, 7, 5, 1]
[8, 4, 7, 2, 6, 1, 9, 5, 10, 3]

## 최종 제출 코드

In [57]:
n = int(input())
l1 =  [int(x) for x in input().split(' ')]


result = [0]*n
tall = 1

for i in l1:
  cnt = 0

  while(True):
    if result[i+cnt]==0 and result[:i+cnt].count(0)==i:
      result[i+cnt] = tall
      break
    cnt+=1

  tall+=1

result = ' '.join(map(str,result))
print(result)

4
2 1 1 0
4 2 1 3