<a href="https://colab.research.google.com/github/RoRdil31/BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_%EC%8B%A42_2304%EB%B2%88_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_%EC%8A%A4%ED%83%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question

N 개의 막대 기둥이 일렬로 세워져 있다. 기둥들의 폭은 모두 1 m이며 높이는 다를 수 있다. 이 기둥들을 이용하여 양철로 된 창고를 제작하려고 한다. 창고에는 모든 기둥이 들어간다. 이 창고의 지붕을 다음과 같이 만든다.

지붕은 수평 부분과 수직 부분으로 구성되며, 모두 연결되어야 한다.
지붕의 수평 부분은 반드시 어떤 기둥의 윗면과 닿아야 한다.
지붕의 수직 부분은 반드시 어떤 기둥의 옆면과 닿아야 한다.
지붕의 가장자리는 땅에 닿아야 한다.
비가 올 때 물이 고이지 않도록 지붕의 어떤 부분도 오목하게 들어간 부분이 없어야 한다.
그림 1은 창고를 옆에서 본 모습을 그린 것이다. 이 그림에서 굵은 선으로 표시된 부분이 지붕에 해당되고, 지붕과 땅으로 둘러싸인 다각형이 창고를 옆에서 본 모습이다. 이 다각형을 창고 다각형이라고 하자.



그림1 . 기둥과 지붕(굵은 선)의 예

창고 주인은 창고 다각형의 면적이 가장 작은 창고를 만들기를 원한다. 그림 1에서 창고 다각형의 면적은 98 ㎡이고, 이 경우가 가장 작은 창고 다각형이다.

기둥들의 위치와 높이가 주어질 때, 가장 작은 창고 다각형의 면적을 구하는 프로그램을 작성하시오.

입력
첫 줄에는 기둥의 개수를 나타내는 정수 N이 주어진다. N은 1 이상 1,000 이하이다. 그 다음 N 개의 줄에는 각 줄에 각 기둥의 왼쪽 면의 위치를 나타내는 정수 L과 높이를 나타내는 정수 H가 한 개의 빈 칸을 사이에 두고 주어진다. L과 H는 둘 다 1 이상 1,000 이하이다.

출력
첫 줄에 창고 다각형의 면적을 나타내는 정수를 출력한다.

예제 입력 1
7
2 4
11 4
15 8
4 6
5 3
8 10
13 6
예제 출력 1
98

반례

3
0 3
1 2
2 3
답 9


4
1 3
2 2
3 3
4 3
답 12


5
4 3
6 5
9 5
11 3
13 4
답 42

## Solution

움푹 파인 부분이 없어야 하기 때문에 가장 높은 값을 기준으로 왼쪽은 쭉 상승해야하고 오른쪽으로는 쭉 하락해야하기 때문에 가운데 기준으로 왼/오를 나눠서 계산해줌.

In [545]:
# import pandas as pd

# df = pd.read_csv('data.txt','r')

# data = df.values.tolist()
# data

<ipython-input-545-921725098dc9>:3: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv('data.txt','r')

[['1 11'], ['2 11'], ['3 11'], ['4 11'], ['5 11']]

In [564]:
# @title data 입력 받기 (dictionary에 저장)
n = int(input())

dic = dict()
for i in range(n):
  l,h = map(int,input().split(' '))
  dic[l]=h

# for d in data:
#   str1 = ' '.join(d)
#   l,h = map(int,str1.split(' '))
#   dic[l]=h

dic

7
2 4
11 4
15 8
4 6
5 3
8 10
13 6

{2: 4, 11: 4, 15: 8, 4: 6, 5: 3, 8: 10, 13: 6}

In [565]:
# @title KEY 기준으로 오름차순 정렬
from operator import itemgetter

sorted_dic = dict(sorted(dic.items(),key = itemgetter(0)))
sorted_dic

{2: 4, 4: 6, 5: 3, 8: 10, 11: 4, 13: 6, 15: 8}

In [566]:
keys = sorted_dic.keys()
keys

# 5 in sorted_dic

dict_keys([2, 4, 5, 8, 11, 13, 15])

In [567]:
# @title 가장 높은 value의 key값 구하기
max_keys = [k for k,value in sorted_dic.items() if value == max(sorted_dic.values())]
max_keys

[8]

In [568]:
x_length = max(keys) - min(keys) + 1
x_length

14

## 왼/오 기준으로 sum 구하기

In [569]:
# @title 높은 값 기준으로 왼쪽 sum 구하기

sum = 0

d = sorted_dic
fill = -1
before = -1


for i in range(min(keys),max_keys[0]):

  # if i==max_keys[0]:
  #   break

  if i in keys:
    if d[i]>=fill:
      fill = d[i]
    sum += fill
  else :
    sum += fill

sum

32

In [570]:
# @title 가운데(높은) 값 sum에 더하기

sum += d[max_keys[0]]
sum

42

In [571]:
# @title 높은 값 기준 오른쪽에서 그 다음 높은 값 구하기

next_i = max_keys[0]

def find_next_max(next_i,next_max):

  next_max = -1

  for i in range(next_i+1,max(keys)+1):
    if i in keys:
      if d[i] >= next_max:
        next_max = d[i]
        next_i = i

  # print(f'next_i = {next_i} next_max = {next_max}')

  return next_i, next_max

next_i,next_max = find_next_max(next_i,-1)
next_i,next_max

(15, 8)

In [572]:
# @title 높은 값 기준으로 오른쪽 sum 더하기

stop = 0
start_i = max_keys[0]
end_i = max(dic)

while(True):
  for i in range(start_i+1,next_i+1):

    sum += next_max

    # print(f'i={i} sum={sum}')



  if i==end_i or stop>1000: break

  if next_i != max(keys):
    start_i = next_i
    next_i,next_max = find_next_max(next_i,next_max)

  stop+=1


print(sum)

98